# Frontend (Node)
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# Backend (Java/Maven)
backend/target/
backend/mvnw
backend/mvnw.cmd
backend/.mvn/
backend/.idea
backend/*.iml
backend/.vscode/
backend/.DS_Store
